<div class="main--welcome--text">
    <h2 class="fw-bolder">Gateway Menu</h2>
    <h5>Sunny Wednesday in Depok, 38 degrees Celsius now</h5>
</div>

<section class="main--manage mt-5 mb-5">
    <h3>Manage Gateway</h3>
    <div class="row mt-3">
        <div class="main--manage--info col-md-3 p-3">
            <div
                class="main--manage--info--box bg-neutral-4 border-line rounded-15 d-flex flex-md-column flex-row align-items-md-start align-items-center justify-content-md-center justify-content-evenly py-md-3 py-2 px-md-3 px-0">
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light">List</a>
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light mt-md-4 mt-0 info--box-active">Create</a>
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light mt-md-4 mt-0">Update</a>
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light mt-md-4 mt-0">Delete</a>
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light mt-md-4 mt-0">Detail</a>
            </div>
        </div>

        <div class="main--manage--menu col-md-9 p-3">
            <div class="main--manage--menu--form bg-neutral-4 rounded-15 pt-4 pb-0 px-0">
                <form action="" method="post" autocomplete="off">
                    <div class="form--container row g-4 px-4 pb-4">
                        <div class="form-group col-md-6">
                            <label for="gatewayName" class="fw-bold fs-5">Nama gateway</label>
                            <input type="text" class="form-control mt-2 rounded-15 p-2" autocomplete="off"
                                id="gatewayName" placeholder="Enter gatyeway name">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="gatewayLocation" class="fw-bold fs-5">Lokasi gateway</label>
                            <input type="text" class="form-control mt-2 rounded-15 p-2" autocomplete="off"
                                id="gatewayLocation" placeholder="Enter gatyeway location">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="api" class="fw-bold fs-5">Gateway API Key</label>
                            <input type="text" class="form-control mt-2 rounded-15 p-2" autocomplete="off"
                                id="api" placeholder="Enter gatyeway api key">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="gatewayName" class="fw-bold fs-5">Gateway encryption</label>
                            <input type="text" class="form-control mt-2 rounded-15 p-2" autocomplete="off"
                                id="gatewayName" placeholder="Enter gatyeway encryption">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="gatewayName" class="fw-bold fs-5">Gateway transmit</label>
                            <input type="text" class="form-control mt-2 rounded-15 p-2" autocomplete="off"
                                id="gatewayName" placeholder="Enter transmit frequency">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="gatewayName" class="fw-bold fs-5">Gateway receiver</label>
                            <input type="text" class="form-control mt-2 rounded-15 p-2" autocomplete="off"
                                id="gatewayName" placeholder="Enter receiver frequency">
                        </div>
                    </div>

                    <div class="col-md-12 d-flex justify-content-end">
                        <div
                            class="optional--menu bg-blue-3 form--action d-flex justify-content-end align-items-center py-2">
                            <button type="submit"
                                class="btn-clear me-3 d-flex text-light align-items-center optional--menu-link"
                                data-help="Simpa data" id="save">
                                <img src="/assets/icon-save.svg" alt="Save icon">
                            </button>

                            <a class="btn-clear me-3 d-flex text-light align-items-center optional--menu-link"
                                data-help="Batalkan">
                                <img src="/assets/icon-trash.svg" alt="Cencel icon">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
        
