            <div class="main--welcome--text">
                <h2 class="fw-bolder">Depok</h2>
                <h5>Sunny Wednesday, 38 degrees Celsius now</h5>
            </div>

            <div class="main--hero bg-blue-gradient mt-4 px-3 py-5 rounded-3">
                <h1 class="fw-bolder">Manage Irigation <br> System Remotly</h1>
            </div>

            <section class="main--manage mt-5 mb-5">
                <h3>Manage Gateway</h3>
                <div class="row mt-3">
                    <div class="main--manage--info col-md-4 p-3">
                        <div
                            class="main--manage--info--box bg-neutral-4 border-line rounded-15 d-flex flex-column align-items-center justify-content-center py-sm-3 py-3 px-sm-5 px-4">
                            <h2 class="fw-bolder">1000</h2>
                            <h4 class="text-center">Gateway Running Now</h4>

                            <div
                                class="main--mange--info--link mt-4 bg-blue-5 rounded-15 p-4 d-flex flex-column justify-content-center align-content-center">
                                <p class="fw-lighter text-center">
                                    Create a new gateway, or modify
                                    and delete an existing gateway.
                                    And see the list of available gateways
                                </p>
                                <a href="" class="btn bg-blue-1 mt-3 d-block text-dark fw-bold">Manage Gateway</a>
                            </div>

                            <p class="fw-lighter text-center mt-4 text-neutral-2-feed">Gateway is a connector
                                between
                                sensor nodes and the internet. Gateway is a
                                liaison between
                                sensor nodes and the internet.
                            </p>
                        </div>
                    </div>

                    <div class="main--manage--menu col-md-8 p-3">
                        <div class="row g-sm-3 g-4">
                            <div class="main--manage--menu-box col-sm-6 col-12">
                                <div class="p-4 bg-neutral-4 rounded-15">
                                    <h4 class="fw-bold">Create</h4>
                                    <p class="main--manage--menu-box-description text-neutral-2-feed mt-4 ">
                                        Create a new gateway in the system.
                                        This getaway will be the data center of the sensor
                                        node before being forwarded to the server.
                                    </p>
                                    <div class="main--manage--menu-box-link mt-4 d-flex justify-content-end">
                                        <a href="" class="btn bg-blue-1 fw-bold">Add now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="main--manage--menu-box col-sm-6 col-12">
                                <div class="p-4 bg-neutral-4 rounded-15">
                                    <h4 class="fw-bold">Update</h4>
                                    <p class="main--manage--menu-box-description text-neutral-2-feed mt-4 ">
                                        Create a new gateway in the system.
                                        This getaway will be the data center of the sensor
                                        node before being forwarded to the server.
                                    </p>
                                    <div class="main--manage--menu-box-link mt-4 d-flex justify-content-end">
                                        <a href="" class="btn bg-blue-1 fw-bold">Add now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="main--manage--menu-box col-sm-6 col-12">
                                <div class="p-4 bg-neutral-4 rounded-15">
                                    <h4 class="fw-bold">Delete</h4>
                                    <p class="main--manage--menu-box-description text-neutral-2-feed mt-4 ">
                                        Create a new gateway in the system.
                                        This getaway will be the data center of the sensor
                                        node before being forwarded to the server.
                                    </p>
                                    <div class="main--manage--menu-box-link mt-4 d-flex justify-content-end">
                                        <a href="" class="btn bg-blue-1 fw-bold">Add now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="main--manage--menu-box col-sm-6 col-12">
                                <div class="p-4 bg-neutral-4 rounded-15">
                                    <h4 class="fw-bold">List</h4>
                                    <p class="main--manage--menu-box-description text-neutral-2-feed mt-4 ">
                                        Create a new gateway in the system.
                                        This getaway will be the data center of the sensor
                                        node before being forwarded to the server.
                                    </p>
                                    <div class="main--manage--menu-box-link mt-4 d-flex justify-content-end">
                                        <a href="" class="btn bg-blue-1 fw-bold">Add now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>