<div class="main--welcome--text">
    <h2 class="fw-bolder">Gateway Menu</h2>
    <h5>Sunny Wednesday in Depok, 38 degrees Celsius now</h5>
</div>

<section class="main--manage mt-5 mb-5">
    <h3>Manage Gateway</h3>
    <div class="row mt-3">
        <div class="main--manage--info col-md-3 p-3">
            <div
                class="main--manage--info--box bg-neutral-4 border-line rounded-15 d-flex flex-md-column flex-row align-items-md-start align-items-center justify-content-md-center justify-content-evenly py-md-3 py-2 px-md-3 px-0">
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light info--box-active">List</a>
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light mt-md-4 mt-0">Create</a>
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light mt-md-4 mt-0">Update</a>
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light mt-md-4 mt-0">Delete</a>
                <a href="" class="fw-bold fs-sm-5 fs-6 text-light mt-md-4 mt-0">Detail</a>
            </div>
        </div>

        <div class="main--manage--menu col-md-9 p-3">
            <div class="row g-3" id="gateway-container">

            </div>
        </div>
    </div>
</section>